div{
    padding: 0.5em;
    /*border: RED 2px SOLID;*/
}

p{
    font-weight: bold;
}



.img{
    width: 100%;
    max-width: 15em;
}
.logo{
    height: 4rem;
}

.align_well{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (max-width: 840px){
    .align_well{
        display: flex;
        flex-direction: column;
    }
}

.align_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


#bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#space{
    height: 5em;
}
